body{
    margin: 0;
    padding: 0;
    overflow:  hidden;
}

#header 
{
 background-color: #20b1aa;
    position: relative;
  
}
.row
{
    position: relative;
    background-color: #20b2aa;
    padding: 1.5%;   
}
.col-xs-6
{
    position: absolute;
    left: 15%;
}
.btn-group{
    padding-right: 2%;
}
#header .menulist{
 margin: 0;
    padding: 4px;
}
.container{
    width: 100%;
}
   #button {
    border: 1px solid #ccc;
    padding: 6px 12px;
    color: #666;
    text-shadow: 0 1px #fff;
    cursor: pointer;
    border-radius: 3px 3px;
    box-shadow: 0 1px #fff inset, 0 1px #ddd;
    background: #f5f5f5;
   }
   .main-form{
    
       position: absolute;
    margin-top: 30px;
    margin: 0 auto;
    max-width: 400px;
    padding: 10px 40px;

   color: #FFF;
   }
   span.input-group-addon i {
    color: #7ca772;
    font-size: 17px;
   }
   .login-button{
    margin-top: 5px;
   }
   .registrate{
    color:#20b1aa;
    background:#f9ffff;
   }
   .container{
    padding:3%;
    border-radius: 10%;
    background:#c0e4e4;
   }
   .btn-default{
       background-color:green;
   }
   h3.text-center{
       padding-top: 2%;
       padding-bottom: 1%;
   }
   .btn-facebook {background-color: #4267b2;width:30%;color: #fff;}
.btn-facebook:hover {background-color: #365899; color: #fff;}
 
.btn-twitter {background-color: #1da1f2;width:30%;color: #fff;}
.btn-twitter {background-color: #1a91da; color: #fff;}
 
