{% extends "header.html" %}
	{% block content %}
	{% load static %}    
<div class="search_field">
    <div class="headline">
      <h1 class="text-center">Чим можемо допомогти?</h1>
	</div>
	<div class="form">
	  <form>
		<div class="input-group col-md-10">
			<div id="input_url" class="input_url">
			  <input  id="sent_messege" type="text" name="sent_messege" class="form-control input-url"  size="300px"   required  placeholder="Відправіть повідомлення тех-підтримці">
			</div>
			<span class="input-group-btn">
			  <button type="button" id="sent_email"  data-toggle="tooltip"   class="btn btn-info btn_modal_window " required>
				Відправити
			  </button>
			</span>
		  </div>	
	</div>
	<div class="headline text-center">
	<p>Ви також можете переглянути теми нижче, щоб знайти те, що шукаєте </p>
	</div>
	<hr>
</div>
<div class="text">
    <div class="question">
		<h4 class="text-center">Часті запитання</h4>
	</div>	
	<div class="text-block"><!--text-->
	  <div class="text-block1 col-md-3" >
	    <h4>У чому переваги коротких посилань?</h4>
        <p>Простіше запам'ятати короткі URL-адреси. Вони також використовують менше пам'яті. На багатьох веб-сайтах є книги для гостей та поля коментарів, в які можна писати лише записи, обмежені максимальною кількістю символів...</p>
	  </div>
	  <div class="text-block1 col-md-3">
	    <h4>А як щодо фішинг-сайтів?</h4>
		<p>Фішингові веб-сайти можуть бути настільки ж небезпечними, як і сайти зловмисних програм. Вони намагаються ввести своїх відвідувачів у розкриття особистих даних (таких як імена, паролі, адреси та дані облікового запису)<a href="#">...</a></p>
	  </div>
	  <div class="text-block1 col-md-3">
	    <h4>Чи буде збережена моя IP-адреса чи інші особисті дані, коли я створю коротке посилання?</h4>
		<p>Ні Ми нічого не економимо. Лише коротка URL-адреса, яку ви встановили, та пов’язані з цим налаштування. Ми не зацікавлені в тому, щоб ми самі стали прозорими громадянами</p>
	  </div>
	  <div class="text-block1 col-md-3">
	    <h4>Оптимізація посилань</h4>
		<p>Оптимізуйте та налаштовуйте кожну коротеньку URL-адресу, щоб скористатися її можливостями. Встановіть власний псевдонім (ім’я), використовуйте його в партнерських програмах, отримуйте QR-код для друку листовок та багато іншого.</p>
	  </div>
	  <div class="text-block1 col-md-3">
	    <h4>Детальна аналітика</h4>
		<p>Відстежуйте кожну скорочену посилання в реальному часі та оцінюйте її ефективність, щоб зрозуміти її. Детальна аналітика надає вам інформацію про кліки.</p>
	  </div>
	  <div class="text-block1 col-md-3">
	    <h4>Скорочення посилань</h4>
		<p>Безкоштовна користувацька скорочена URL-адреса з багатьма функціями, що забезпечує кращу якість скорочення посилань. Скорочені URL-адреси ніколи не закінчиться. Ми не відображаємо об’яви під час прямої переадресації на вихідний URL.</p>
	  </div>
	</div>
</div>

{% endblock %}
