<!DOCTYPE html>
<html lang="ru">
    {% load static %}    
    <head>
        <link rel="stylesheet" href="{% static 'css/style.css' %}" />
        <link rel="stylesheet" href="{% static 'css/faq.css' %}" />
        <link rel="stylesheet" href="{% static 'css/reg.css' %}" />
        <script src="{% static 'script/jquery.js' %}" defer></script>
        <script src="{% static 'script/history.js' %}" defer></script>
        <script src="{% static 'script/menu.js' %}" defer></script>
        <script src="{% static 'script/sent_email.js' %}" defer></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    </head>
<body>
    <div class="row head">
        <div id="main-name" class="col-6 col-md-4 title">
            inShort
        </div>
        <div class="col-6 col-md-6">
            <div class="content-menu">
                <div class="col-6 col-md-4 menu-item"><a href="{% url 'home' %}">HOME</a></div>
                <div class="col-6 col-md-4 menu-item"><a href="{% url 'FAQ' %}">FAQ</a></div>
            </div>
           
        </div>	
        <div class="header-block btn-group col-6 col-md-2"  role="group" aria-label="...">
          {% if request.user.is_authenticated %}
                <div class="btn-group" role="group">
                  <a type="button" href="{% url 'logout' %}" class="btn btn-success">Вийти</a>
                </div>
                <div class="btn-group" role="group">
                <a type="button" href="{% url 'register' %}" class="btn btn-info">Реєтрація </a>
                </div>
          {% else %}
                <div class="btn-group" role="group">
                  <a type="button" href="{% url 'login' %}" class="btn btn-success">Увійти</a>
                </div>
              <div class="btn-group" role="group">
                  <a type="button" href="{% url 'register' %}" class="btn btn-info">Реєтрація </a>
              </div>
          {% endif %}
      </div>
  </div>
  {% block content %}
  {% endblock %}
  <div class="footer">
    <div class="row networks">
        <div class="col-md-1 networks_block1">
            <a href="https://www.instagram.com/vlad1998.myrahovski/?igshid=tgl5aohlp262"><img src="{% static "img/instagram.png" %}" alt="instagram"></a>
        </div>
        <div class="col-md-1 networks_block2">
            <a href="https://web.telegram.org/#/im?p=@amurahovskiy1998"><img src="{% static "img/telegram.png" %}" alt="telegram"></a>
        </div>
        <div class="col-md-1 networks_block3"> 
            <a href="#"><img src="{% static "img/facebook.png" %}" alt="facebook"></a>
         </div>
         <div class="col-md-1 networks_block">
            <a href="https://mail.google.com/mail/u/1/#inbox"><img src="{% static "img/gmail.png" %}" alt="gmail"></a>
        </div>
        <div class="col-md-1 networks_block">
            <a href="#"><img src="{% static "img/help.png" %}" alt="help"></a>
        </div>
    </div>
   <div class="row own">
    ©inSHORT
   </div>
   <div class="created_by">
     created by ki-3-group 2020 
   </div>
</div>
</body>