<!DOCTYPE html>
<head>
    {% load static %}    
    <head>
        <link rel="stylesheet" href="{% static "css/style.css" %}" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <script href="{% static "script/script.js" %}"></script>
    </head>
<title>inShort</title>
</head>
<body>
<div class="row">
  <div class="header">
    <div class="col-xs-3 col-md-3 " style="font-size: 30px; color:white; ">
        inSHORT
    </div>
		<nav class="header-block col-xs-6 col-md-6" style="padding-left:10%;">
      <a style="padding-left:9px" href="#">Home</a>
      <a href="#">About</a>
      <div class="animation start-home"></div>
    </nav>	
    <div class="header-block btn-group col-xs-3 col-md-3"  role="group" aria-label="...">
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-success">Увійти</button>
      </div>
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-info">Реєтрація </button>
      </div>
    </div>
	</div>
</div>
<div class="headline">
  <h1 class="text-center">INSHORT</h1>
</div>
	<div class="form">
	  <form>
        <div class="col input-group">
            <input type="text" class="form-control"  placeholder="Paste long URL and shorten it">
            <span class="input-group-btn">
              <button class="btn btn-info" type="button">
                shorten
              </button>
            </span>
        </div>
      </form>
	</div>
	<div class="registrate text-center">
    <h3 class="text-center ">Заповніть поля</h3>
    <div >
	    <div class="container col-xl-6 col-xl-offset-6" style="width: 30%; margin: 0 auto;"> 
        <form class="form">
          <div class="col-xs-12" style="width: 500px; margin: 0 auto;">
            <div class="form-group" style="text-align:center;">
              <label>Cкорочення</label> 
              <label style="padding-left:12%;">
                <input size="10%" name="text">
              </label>
              <label>Ваше посилання дійсне</label>
              <select id = "myList">
                <option value = "0">День</option>
                <option value = "1">Тиждень</option>
                <option value = "2">Місяць</option>
                <option value = "3">Рік</option>
                <option value = "4">Назавжди</option>
              </select>
            </div>
					</div>
				</form>
	    </div>
    </div> 
	</div>
</body>
</html>