
{% extends "header.html" %}

  {% load static %}
    
{% block content %}
  <div class="headline">
    <h1 class="text-center">INSHORT</h1>
    <div class="form">
      <form method="POST" action="{% url 'add_url' %}"  class="form">
               {% csrf_token %}
        <div class="input-group col-md-10">
          <div class="input_url">
          <input   name="long_url" required class="form-control"  size="300px"   required  placeholder="Paste long URL and shorten it">
          </div>
          <span class="input-group-btn">
            <button type="button" data-toggle="tooltip" pattern="^h"class="btn btn-info btn_modal_window " required type="button">
              shorten
            </button>
          </span>
        </div>
      
    </div>
  </div>
  <div id="my_modal" class="modal">
    <div class="modal_content">
      <div class="col-xs-10">
        <h3 class="text-center">Заповніть</h3>
          <div class="form-group">
            <label for="username" class="cols-sm-2 control-label">Скорочення</label>
            <input type="text" name="short_url" class="form-control" />
            <legend>Виберіть час</legend>
            <label>Буде дійсна </label>
            <select id="myList">
              <option value="0">5хв</option>
              <option value="1">День</option>
              <option value="2">Тиждень</option>
              <option value="3">Місяць</option>
              <option value="4">Рік</option>
              <option value="4">Назавжди</option>
            </select>
            <button type="submit" class="btn btn-success">Створити</button>
          </div>
      </div>
      <div class="col-xs-1">
        <span class="close_modal_window">×</span>
      </div>
      </form>
    </div>
  </div>
  <div id="urls_container"></div>
{% endblock %}
<script src="{% static 'script/jquery.js' %}" defer></script>
<script src="{% static 'script/history.js' %}" defer></script>
<script src="{% static 'script/menu.js' %}" defer></script>

