{% load static %} <!--This for routing-->
<!DOCTYPE html>
<html lang="ru">
    {% load static %}    
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
        <link rel="stylesheet" href="{% static "css/reg.css" %}" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    </head>
<body>
    <div class="row head">
        <div class="col-6 col-md-4 title">
            inSHORT
        </div>
        <div class="col-6 col-md-6">
          <div class="content-menu">
            <div class="col-6 col-md-4 menu-item"><a href="#">Home</a></div>
            <div  class="col-6 col-md-4 menu-item"><a href="#">FAQ</a></div>
          </div>
          <div class="animation"></div>
        </div>	
        <div class="header-block btn-group col-6 col-md-2"  role="group" aria-label="...">
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-success">Увійти</button>
          </div>
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-info">Реєтрація </button>
          </div>
        </div>
    </div>
    <div class="row registrate">
        <h3 class="text-center ">Войти</h3>
       <div >
        <div class="container col-md-4 col-md-offset-4 "> 
            <form method="post" class="form">
                {% csrf_token %}
                {% if error %}
                <div style="color:red;">{{ error }}</div>
                {% endif %}
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="username" class="cols-sm-2 control-label">Ім'я</label>
                    <input type="text"  name="username" class="form-control" />
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="username" class="cols-sm-2 control-label">Пароль</label>
                        <input type="password" name="password" class="form-control" />
                    </div>
                </div>
                <div class="text-center col-xs-12 container">
                    <a  href="" class="btn btn-facebook">Facebook</a>
                   
                    <button type="submit" class="btn btn-success">Зайти</button>
                    <a  href="" class=" btn btn-twitter">Google</a>
                </div>
            </form>
        </div>
        </div>
    </div>
</body>

</body>
</html>