body {
  margin: 0;
  padding: 0;
  background-color:#f9ffff;
  overflow-x: hidden;	
  height: 100%;
}
.title{
  color:white;
}
.head{
background-color: #20b1aa;
position: relative;
padding-bottom: 2.5%;
padding-left:3%;
padding-top: 2.5%;

height: 15%;
}
.menu{
  border-radius: 2%;
}
.headlin
{
  margin-top: 2%;
  margin-bottom:1%;
}
.regis-group{
  width: 40%;
  margin: 0 auto;
  border-radius: 10%;
  background:#c0e4e4;
}
  .registrate{
    color:#20b1aa;
    background:#f9ffff;
   }
   .container{
    padding-top:3%;
    margin-bottom:5%;
    padding-left:3%;
    padding-right:3%;
    border-radius: 10%;
    background:#c0e4e4;
   }
   .btn-default{
       background-color:green;
   }
  
   .btn-facebook {
     background-color: #4267b2;
     width:30%;
     color: #fff;
    }
 
 
.btn-google {
  width: 30%;
  background-color: #da671a; 
  color: #fff;
}
 
