body {
  margin: 0;
  padding: 0;
  background-color:#f9ffff;
  overflow-x: hidden;	
}
.title{
  font-size: 20px; 
  color:white;
}
.head{
  background-color: #20b1aa;
  position: relative;
  padding-bottom: 2.5%;
  padding-left:2.5%;
  padding-top: 2.5%;
  
  height: 15%;
  }

.headline{
position: relative;
  margin-top: 2%;
  margin-bottom:2%;
}
.form
{
  padding-top: 2%;
  padding-bottom: 3%;
  position: relative;
  justify-content: center; 	
  display: flex;
}

.form-control
{
  padding-top: 5%;
  position: relative;
  display: flex;
  justify-content: center; 	
  width:700px;
  margin: 0 auto;
}
.input-group{
  margin-left: 0 auto;
 }
.menu{
  border-radius: 2%;
}
.menu-item{
  padding-left: 5%;
}
.data-ur-group{
  width: 40%;
  margin: 0 auto;
  border-radius: 10%;
  background:#c0e4e4;
}
.content-menu .menu-item a {
  position: relative;
  z-index: 1;
  text-transform: uppercase;
  text-align: center;
  color: white;
  cursor: pointer;
  color:white;
  font-size: 20px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
}
.content-menu .menu-item a:hover {
  color: #fff;
}
.content-menu .menu-item a:hover::before {
  content: '';
  position: absolute;
  width: 100%;
  background: #258fd6;
  transition: 0.5s;
  animation: animate .5s linear forwards; 
}
@keyframes animate {
  0% {
    top: calc(50% - 2px);
    left: -100%;
    height: 4px;
    z-index: 1;
  }
  50% {
    top: calc(50% - 2px);
    left: 0;
    height: 4px;
    z-index: 1;
  }
  100% {
    top: 0;
    left: 0;
    height: 100%;
    z-index: -1;
  }
}
.menu .animation {
  position: absolute;
  height: 100%;
  transition: all .5s ease 0s;
  border-radius: 8px;
}
.headline{
  position: relative;
}

.modal {
  padding: 5%;
  display: none;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  font-size: 15px;
  background-color: rgba(0,0,0,0.6);
  z-index: 1000;
}
.text-center{
  padding-bottom: 3%;
}
.modal .modal_content {
  border-radius: 5%;
  border: 3px solid #20aca6;
  background:#c0e4e4;
  margin: 25% auto;
  margin-top: 20%;
  padding-top:3%;
  padding-bottom:3%;
  width: 20%;
  z-index: 99999;
}
.modal .modal_content .close_modal_window {
  color: #aaa;
  cursor: pointer;
}
.form-control
{
  padding-bottom: 5%;
  position: relative;
  display: flex;
  justify-content: center;  
}
.input-group{
  margin: 0 auto;
 }
ul { 
list-style: none;
}
.accordion-menu {
 padding-top: 2%;
padding-bottom: 2%;
width: 70%;
margin: 60px auto 20px;
background: #fff;
border-radius: 4px;
}
.word-break{
  word-break: break-all;
}
  
.submenuItems 
{
    display: none;
    background: #2aa7a0;
    border-radius: 1px;
}
li {
    padding-top: 2%;
    padding-bottom: 2%;
    width: 100%;
    font-size: 18px;
    border-bottom: 1px solid #B6B6B6;
    }
    .for_border{
    border: 3px solid #20aca6;
    margin-bottom: 3.5%;
    width: 100%;	
    border-radius:0;
    background-color:#fdfaf7;
  }
.container{
  padding-top:3%;
  padding-bottom:3%;
  padding-left:3%;
  padding-right:3%;
  border-radius: 10%;
  background:#c0e4e4;
 }
 .btn-default{
     background-color:green;
 }
 
 .long_url{
  background:rgb(126, 9, 9);
  text-decoration: blink;
 }
 .tooltip {
  position: fixed;
  padding: 10px 20px;
  border: 1px solid #b3c9ce;
  border-radius: 4px;
  text-align: center;
  font: italic 14px/1.3 sans-serif;
  color: #333;
  background: #fff;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, .3);
}
/* Footer */
.footer{
  background-color:#DDECE9;
  overflow-x: hidden;
  width:100%;
  height: 90%;
  padding-top: 1%;
  padding-left: 3%;
  
 }
 .networks{
    background-color:#DDECE9;
 }
 
 .own{
  width:100%;
  text-align: center;
 }
 .created_by{
  width:100%;
  text-align: right;
 }

